<form>
	
	<input type="hidden" 
		   name="card[list_id]" 
		   value="<%= list.escape("id") %>">
		 
	<br>
	<input type="text" 
	       name="card[title]" 
		   placeholder="new card" 
		   id="cardName">
	<br>
	<input type="submit">
</form>

<div class="preview">
</div>