<h2>All The Boards</h2>
<ul id='boards'>
	<% boards.each(function(board) { %>
			<a href='#/boards/<%= board.id %>'>
                <li class="board-show col-xs-12 col-md-3">
				    <div class="board-title">
                        <%= board.escape('title') %>
                    </div>
                </li>
			</a>
	<% }) %>
</ul>