<h2>There are clearly not enough boards here.</h2>


<form>
	<div class="form-group">
		<label for="newBoard">Make me a board</label>
		<input type="text" class="form-control" name="board[title]" placeholder="awesome board title goes here" id="newBoard">
	</div>
	
	<input type="submit" class="btn btn-default">
	
</form>