<h2>There are clearly not enough boards here.</h2>


<form>
	<label for="newBoard">Make me a board</label>
	<input type="text" name="board[title]" placeholder="don't fuck it up" id="newBoard">
	
	<input type="submit">
	
</form>