/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

body{
	padding-top: 50px;
    background-color:rgb(35,113,159);
}

.list-show, .placeholder, .board-show{
	width: 200px;
	display: inline-block;
	vertical-align: top;
}

.board-show {
    min-height: 100px;
    text-color: darkblue;
}

.destroy-card {
	display: none;
}

//.card-individual:hover .destroy-card {
//    display: inline-block;
//}

.card-title:hover {
    background-color: rgb(240,240,240);
}

h3.list-title:hover {
    cursor:pointer;
}

.card-individual:hover {
    cursor:pointer;
}

.list-show {
    background-color:rgb(227,227,227);
}

.board-show {
    background-color:rgb(30,98,139);
    color:white;
}

.board-show:hover {
    background-color:rgb(20,88,129);
    cursor:pointer;
}

.list-show, .board-show {
    margin: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-width: 260px;
}

.card-title{
    background-color:rgb(255,255,255);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 2px;
    border-bottom:1px solid #ccc;
    min-height:32px;
    margin-right:7px;
    margin-bottom:7px;
    padding-left:7px;
    padding-top:5px;
}

ul {
    list-style:none;
}

button ,input {
    margin: 3px;
}

#newBoard {
    max-width: 400px;
}

a#show-back {
    color:darkblue;
}

.navbar-default {
    background-color:rgb(30,98,139);
    border:none;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    color:rgb(135,172,193);
}

ul.lists, ul#boards, ul.cards {
    margin-left: 5px;
    padding: 0;
}

h2.board-title {
    color:white;
    margin-left:20px;
    font-size:18px;
    font-weight:bold;
}

div.board-title {
    font-size:16px;
    font-weight:bold;
    margin:10px;
}

h3.list-title {
    font-size:15px;
    font-weight:bold;
    margin-top:5px;
    margin-left:5px;
}

.rootpage {
    background-color:white;
}

.index-title {
    font-size:16px;
    font-weight:bold;
    padding-left:10px;
}

.login-form, h1 {
    padding-left:50px;
}