<h3>Give me your list(s)(!)</h3>

<form>
	
	<input type="hidden" 
		   name="list[board_id]" 
		   value="<%= board.escape("id") %>">
		   
	<label for="listName">List Name</label>
	<input type="text" 
	       name="list[title]" 
		   placeholder="make it a good one" 
		   id="listName">
	
	<input type="submit">
	
</form>

<div class="preview">
</div>